
<style>

body {
	background-color: lightblue;
	font-size: 180pt;
	}

h1 { 
	color: navy;
	margin-left: 20px;
	}

h2 { 
	color: grey;
	margin-left: 0px;
	}

dl {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
	}

</style>
