html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-align: left;
	background-color: #F2F2F2;
	overflow: hidden;
}

#FT_logo{
   width:30px;
}

#project_container {
	height: 100%;
}

#survey_container {
	background: #193B68;
	position: relative;
	overflow: auto;
	padding-top: 10px;
	width: 64%;
	height: 100%;
	min-width: 400px;
	float: right;
	display: inline-block;
	text-align: left;
}

.survey, .project, .survey_project, .counters_project, .tracker_project,
	.countersContainerDIV, .counter, .chapter, .question,
	.chapterContainerDIV, .questionContainerDIV, .answerContainerDIV,
	.tracker_project_buttons_container, .counterContainerDIV {
	overflow: hidden;
	padding: 5px;
	border-style: solid;
	border-color: transparent;
	border-radius: 5px;
	border-width: 2px;
}

.project:hover, .survey_project_container .survey_project:hover,
	.counters_project:hover, .tracker_project:hover, .counterContainerDIV:hover,
	.chapterContainerDIV:hover, .questionContainerDIV:hover,
	.answerContainerDIV:hover {
	border-style: solid;
	border-color: #F2F2F2;
	border-radius: 5px;
	border-width: 2px;
}

.jsonFloat {
	overflow: auto;
	position: fixed;
	padding: 20px;
	top: 160px;
	text-align: left;
	white-space: pre-wrap;
	width: 35%;
	height: 50%;
	word-wrap: break-word;
	border-radius: 5px
}

.h4 {
	position: fixed;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 35%;
	color: #333;
	border-radius: 5px
}