<!DOCTYPE HTML>
<html>

<head>
  <title>Flocktracker</title>

  <!-- css libraries -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  
  <!-- js base libs -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>

  <!-- ng source -->
  <script src="bower_components/angular/angular.min.js"></script>

  <!-- ng models/directive -->
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-ui/build/angular-ui.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-sortable/sortable.min.js"></script>

  <link rel="stylesheet" href="static/style/main.css"> 

  <script src="example.json"></script>
  <script src="static/scripts/main.js"></script>

  <!-- supporting libraries -->
  <script src="static/scripts/flockSON.js"></script>
  <script src="static/scripts/flocktracker-project-models.js"></script>



</head>

<body ng-app="surveyBuilderApp" ng-controller="surveyBuilder">

  <nav class="navbar">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="projects">
        <img src="static/gfx/logo.svg" class="logo"></img>
      </a>
    </div>
    <div class="navbar-header">
      <a ui-sref="projects">
        <h3><b>Flocktracker</b> Survey Builder</h3>
      </a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav pull-right">
      	<!-- maybe later -->
      </ul>
    </div>
  </nav>




	<div class="container">
		<tabset >
			<tab heading="Survey" ng-click="currentTab='SurveyProject'">
				<div ng-controller="surveyController">
					<div ui-sortable ng-model="flockSON.FlocktrackerProject.SurveyProject.Survey.Chapters">
						<div ng-repeat="(chapIndex, chapter) in flockSON.FlocktrackerProject.SurveyProject.Survey.Chapters" class="panel panel-default">
		          
		          <div class="panel-heading">
		            <h4 class="panel-title point">
		            	<span ng-click="sort[chapter.Chapter.Title] = !sort[chapter.Chapter.Title]">
		            		Chapter {{ chapIndex+1 }}: {{ chapter.Chapter.Title }}
		            	</span>
		            	<i class="fa fa-times-circle-o pull-right" ng-click="removeChapter(chapIndex)"></i>
		            </h4>
		          </div>

		          <div class="panel-body" ng-show="sort[chapter.Chapter.Title]">

		          	<div ui-sortable ng-model="chapter.Chapter.Questions">
				          <div class="panel panel-default" ng-repeat="(questionIndex, question) in chapter.Chapter.Questions">

										<div class="panel-heading point">
											<span ng-click="sort[question.Question.Text] = !sort[question.Question.Text]">
												{{ questionIndex+1 }}. {{ question.Question.Text }}
											</span>
				          		<span class="label label-info">ID: {{ question.Question.ID }}</span> 
				          		<span class="label label-info" ng-show="question.Question.JumpID">Jump ID: {{ question.Question.JumpID }}</span> 
				          		<span class="label label-info">Kind: {{ questionKinds[question.Question.Kind].verbose }}</span> 
											<i class="fa fa-times-circle-o pull-right" ng-click="removeQuestion(chapIndex, questionIndex)"></i>
										</div>

										<ol class="list-group" ui-sortable ng-model="question.Question.Answers" ng-show="sort[question.Question.Text]">
											<li class="list-group-item" ng-repeat="(answerIndex, answer) in question.Question.Answers">
												{{ answerIndex+1 }}. {{ answer.Answer.Text }}
												<i class="fa fa-times-circle-o pull-right" 
														ng-click="question.Question.Answers.splice(answerIndex, 1);">
												</i>
											</li>
										</ol>

										<div class="panel-footer" ng-show="sort[question.Question.Text]">
											<div class="row">
										    <div class="col-xs-10">
										      <input class="form-control" ng-model="question.Question.newAnswer" placeholder="New answer text">
										    </div>
										    <div class="col-xs-2 text-right">
										      <button type="submit" class="btn btn-default" 
										      				ng-click="question.Question.Answers.push({Answer:{Text:question.Question.newAnswer}});
										      									question.Question.newAnswer=null;">
										      	Add another answer
										      </button>
										    </div>
											</div>
										</div>
			          	</div>
			          </div>

			        </div>

			        <div class="panel-footer" ng-show="sort[chapter.Chapter.Title]">
				        <div class="text-right">
				        	<span class="label label-info" style="margin-left:5px">
				        		ID: {{ chapter.Chapter.newQuestion.ID ? chapter.Chapter.newQuestion.ID : 'None Selected' }} 
				        	</span> 
				        	<span class="label label-info" style="margin-left:5px">
				        		Kind: {{ chapter.Chapter.newQuestion.Kind ? questionKinds[chapter.Chapter.newQuestion.Kind].verbose : 'None Selected' }} 
				        	</span> 
				        	<span class="label label-info" style="margin-left:5px">
				        		JumpID: {{ chapter.Chapter.newQuestion.JumpID ? chapter.Chapter.newQuestion.JumpID : 'None Selected' }} 
				        	</span> 
				        </div>

			          <div class="row">
							    <div class="col-xs-4 form-group" ng-class="vetQuesID(chapter.Chapter.newQuestion.ID) ? 'has-success' : 'has-error'">
							    	<label class="control-label">Question ID</label>
								  	<span class="label label-success" 
								  				ng-show="vetQuesID(chapter.Chapter.newQuestion.ID)">
								  		<span class="glyphicon glyphicon-ok"></span> Unique ID is okay.
								  	</span>
								  	<span class="label label-danger" 
								  				ng-show="!vetQuesID(chapter.Chapter.newQuestion.ID)">
								  		<span class="glyphicon glyphicon-remove"></span> Not a unique ID.
								  	</span>
							      <input  type="text" class="form-control" 
							      				ng-model="chapter.Chapter.newQuestion.ID"
							      				ng-keyup="chapter.Chapter.newQuestion.ID = cleanText(chapter.Chapter.newQuestion.ID)"
							      				placeholder="New question id">
							    </div>
							    <div class="col-xs-8">
							    	<label>Question Text</label>
							      <input class="form-control" ng-model="chapter.Chapter.newQuestion.Text" placeholder="New question text">
							    </div>
								</div>

								<br>
			          <div class="row">
							    <div class="col-xs-4">
							    	<label>Kind of Question</label><br>
										<select class="form-control" ng-model="chapter.Chapter.newQuestion.Kind">
											<option ng-repeat="(kind, kindValue) in questionKinds" 
															value="{{ kind }}">
												{{ kindValue.verbose }}
											</option>
										</select>
							    </div>
							    <div class="col-xs-4">
							    	<label>Chapter Select for Jump</label><br>
										<select class="form-control" ng-model="jumpChapSelect">
											<option value="">None</option>
											<option ng-repeat="(chapIndex, chapter) in flockSON.FlocktrackerProject.SurveyProject.Survey.Chapters" 
															value="{{ chapIndex }}">
												{{ chapter.Chapter.Title }}
											</option>
										</select>
							    </div>
							    <div class="col-xs-4">
							    	<label>Jump to Question</label><br>
										<select class="form-control" ng-model="chapter.Chapter.newQuestion.JumpID">
											<option value="">None</option>
											<option ng-repeat="question in flockSON.FlocktrackerProject.SurveyProject.Survey.Chapters[jumpChapSelect].Chapter.Questions" 
															value="{{ question.Question.ID }}">
												{{ question.Question.ID }}
											</option>
										</select>
							    </div>
								</div>

								<br>
								<div class="row" ng-show="questionKinds[chapter.Chapter.newQuestion.Kind].answers">
									<div class="col-xs-4 form-group">
									  <label class="control-label">Create a New Answer</label>
									  <input type="text" class="form-control" 
									  				ng-model="chapter.Chapter.newQuestion.newAnswer.Text" 
									  				placeholder="New answer text"/>
									</div>

									<div class="col-xs-4">
							    	<label>Jump to Question on Select</label>
										<select class="form-control" ng-model="jumpChapSelect_answer">
											<option value="">None</option>
											<option ng-repeat="(chapIndex, chapter) in flockSON.FlocktrackerProject.SurveyProject.Survey.Chapters" 
															value="{{ chapIndex }}">
												{{ chapter.Chapter.Title }}
											</option>
										</select>
									</div>

									<div class="col-xs-3">
							    	<label>Jump to Question on Select</label>
										<select class="form-control" ng-model="chapter.Chapter.newQuestion.newAnswer.JumpID">
											<option value="">None</option>
											<option ng-repeat="question in flockSON.FlocktrackerProject.SurveyProject.Survey.Chapters[jumpChapSelect_answer].Chapter.Questions" 
															value="{{ question.Question.ID }}">
												{{ question.Question.ID }}
											</option>
										</select>
									</div>

									<div class="col-xs-1">
							    	<label>Add</label>
							    	<div class="btn-group btn-group-justified">
							    		<label class="btn btn-success" 
							    						ng-class="chapter.Chapter.newQuestion.newAnswer.Text.length > 0 ? '' : 'disabled'" 
							    						ng-click="addAnswer(chapIndex)">
							    			<i class="fa fa-plus-circle"></i>
							    		</label>
							    	</div>
									</div>

									<div ui-sortable ng-model="chapter.Chapter.newQuestion.Answers" class="col-xs-12">
										<span ng-repeat="(answerIndex, answer) in chapter.Chapter.newQuestion.Answers">
											<div class="badge">
												{{ answerIndex+1 }}. 
												<span>
													{{ answer.Answer.Text }} 
													<span ng-if="answer.Answer.JumpID">
														(with jump to Question {{ answer.Answer.JumpID }})
													</span>
													<i class="fa fa-times-circle-o pull-right" 
															ng-click="chapter.Chapter.newQuestion.Answers.splice(answerIndex, 1);">
													</i>
												</span>
											</div>
										</span>
									</div>
								</div>

								<br>
								<div class="row">
									<div class="col-xs-6">
									  <div class="checkbox" ng-show="questionKinds[chapter.Chapter.newQuestion.Kind].other">
									    <label>
									      <input type="checkbox" ng-model="chapter.Chapter.newQuestion.Other"> Allow an "Other" Input
									    </label>
									  </div>
									</div>
									<div class="col-xs-6 text-right">
										<button class="btn btn-default" ng-click="addQuestion(chapIndex)" 
														ng-class="!questionReady(chapter.Chapter.newQuestion) ? 'disabled' : ''">
											Add Question
										</button>
									</div>
								</div>
			        </div>
		        </div>

					</div>

					<div class="panel panel-default">
	          <div class="panel-heading">
	            <h4 class="panel-title">
	            	Create a new chapter
	            </h4>
	          </div>
	          <div class="panel-body row">
					    <div class="col-xs-10">
					      <input class="form-control" id="newChapter_SurveyProject" placeholder="New chapter title">
					    </div>
					    <div class="col-xs-2 text-right">
					      <button type="submit" class="btn btn-default" ng-click="addChapter()">Add Chapter</button>
					    </div>
						</div>
					</div>
				</div>
			</tab>

			<tab heading="Tracker" ng-click="currentTab='TrackerProject'">
				<div ng-controller="surveyController">

					<div class="row">
						<div class="col-xs-12">
					    <div class="btn-group btn-group-xs pull-right">
				        <label class="btn btn-default" ng-model="trackerPortion" btn-radio="'StartSurvey'">Start Survey</label>
				        <label class="btn btn-default" ng-model="trackerPortion" btn-radio="'EndSurvey'">End Survey</label>
					    </div>
							<p>
								This portion supports building surveys initiated when a tracked session is
								<span ng-if="trackerPortion=='StartSurvey'">started.</span>
								<span ng-if="trackerPortion=='EndSurvey'">terminated.</span>
								Click the right toggle to switch tracker compoenents.
							</p>
					  </div>
				  </div>

					<div ui-sortable ng-model="flockSON.FlocktrackerProject.TrackerProject[trackerPortion].Survey.Chapters">
						<div ng-repeat="(chapIndex, chapter) in flockSON.FlocktrackerProject.TrackerProject[trackerPortion].Survey.Chapters" 
									class="panel panel-default">
		          
		          <div class="panel-heading">
		            <h4 class="panel-title point">
		            	<span ng-click="sort[chapter.Chapter.Title] = !sort[chapter.Chapter.Title]">
		            		Chapter {{ chapIndex+1 }}: {{ chapter.Chapter.Title }}
		            	</span>
		            	<i class="fa fa-times-circle-o pull-right" ng-click="removeChapter(chapIndex)"></i>
		            </h4>
		          </div>

		          <div class="panel-body" ng-show="sort[chapter.Chapter.Title]">
		          	<div ui-sortable ng-model="chapter.Chapter.Questions">
				          <div class="panel panel-default" ng-repeat="(questionIndex, question) in chapter.Chapter.Questions">
										<div class="panel-heading point">
											<span ng-click="sort[question.Question.Text] = !sort[question.Question.Text]">
												{{ questionIndex+1 }}. {{ question.Question.Text }}
											</span>
				          		<span class="label label-info">ID: {{ question.Question.ID }}</span> 
				          		<span class="label label-info" ng-show="question.Question.JumpID">Jump ID: {{ question.Question.JumpID }}</span> 
				          		<span class="label label-info">Kind: {{ questionKinds[question.Question.Kind].verbose }}</span> 
											<i class="fa fa-times-circle-o pull-right" ng-click="removeQuestion(chapIndex, questionIndex)"></i>
										</div>
										<ol class="list-group" ui-sortable ng-model="question.Question.Answers" ng-show="sort[question.Question.Text]">
											<li class="list-group-item" ng-repeat="(answerIndex, answer) in question.Question.Answers">
												{{ answerIndex+1 }}. {{ answer.Answer.Text }}
											</li>
										</ol>
			          	</div>
			          </div>
			        </div>

			        <div class="panel-footer" ng-show="sort[chapter.Chapter.Title]">
				        <div class="text-right">
				        	<span class="label label-info" style="margin-left:5px">
				        		ID: {{ chapter.Chapter.newQuestion.ID ? chapter.Chapter.newQuestion.ID : 'None Selected' }} 
				        	</span> 
				        	<span class="label label-info" style="margin-left:5px">
				        		Kind: {{ chapter.Chapter.newQuestion.Kind ? questionKinds[chapter.Chapter.newQuestion.Kind].verbose : 'None Selected' }} 
				        	</span> 
				        	<span class="label label-info" style="margin-left:5px">
				        		JumpID: {{ chapter.Chapter.newQuestion.JumpID ? chapter.Chapter.newQuestion.JumpID : 'None Selected' }} 
				        	</span> 
				        </div>

			          <div class="row">
							    <div class="col-xs-4 form-group" ng-class="vetQuesID(chapter.Chapter.newQuestion.ID) ? 'has-success' : 'has-error'">
							    	<label class="control-label">Question ID</label>
								  	<span class="label label-success" 
								  				ng-show="vetQuesID(chapter.Chapter.newQuestion.ID) && 
								  								chapter.Chapter.newQuestion.ID == cleanText(chapter.Chapter.newQuestion.ID)">
								  		<span class="glyphicon glyphicon-ok"></span> Unique ID is okay.
								  	</span>
								  	<span class="label label-danger" 
								  				ng-show="!vetQuesID(chapter.Chapter.newQuestion.ID) ||
								  								chapter.Chapter.newQuestion.ID !== cleanText(chapter.Chapter.newQuestion.ID)">
								  		<span class="glyphicon glyphicon-remove"></span> Not a unique ID.
								  	</span>
							      <input  type="text" class="form-control" 
							      				ng-model="chapter.Chapter.newQuestion.ID"
							      				ng-keyup="chapter.Chapter.newQuestion.ID = cleanText(chapter.Chapter.newQuestion.ID);"
							      				placeholder="New question id">
							    </div>
							    <div class="col-xs-8">
							    	<label>Question Text</label>
							      <input class="form-control" ng-model="chapter.Chapter.newQuestion.Text" placeholder="New question text">
							    </div>
								</div>

								<br>
			          <div class="row">
							    <div class="col-xs-4">
							    	<label>Kind of Question</label><br>
										<select class="form-control" ng-model="chapter.Chapter.newQuestion.Kind">
											<option ng-repeat="(kind, kindValue) in questionKinds" 
															value="{{ kind }}">
												{{ kindValue.verbose }}
											</option>
										</select>
							    </div>
							    <div class="col-xs-4">
							    	<label>Chapter Select for Jump</label><br>
										<select class="form-control" ng-model="jumpChapSelect">
											<option value="">None</option>
											<option ng-repeat="(chapIndex, chapter) in flockSON.FlocktrackerProject.TrackerProject[trackerPortion].Survey.Chapters" 
															value="{{ chapIndex }}">
												{{ chapter.Chapter.Title }}
											</option>
										</select>
							    </div>
							    <div class="col-xs-4">
							    	<label>Jump to Question</label><br>
										<select class="form-control" ng-model="chapter.Chapter.newQuestion.JumpID">
											<option value="">None</option>
											<option ng-repeat="question in flockSON.FlocktrackerProject.TrackerProject[trackerPortion].Survey.Chapters[jumpChapSelect].Chapter.Questions" 
															value="{{ question.Question.ID }}">
												{{ question.Question.ID }}
											</option>
										</select>
							    </div>
								</div>

								<br>
								<div class="row" ng-show="questionKinds[chapter.Chapter.newQuestion.Kind].answers">
									<div class="col-xs-4 form-group">
									  <label class="control-label">Create a New Answer</label>
									  <input type="text" class="form-control" 
									  				ng-model="chapter.Chapter.newQuestion.newAnswer.Text" 
									  				placeholder="New answer text"/>
									</div>

									<div class="col-xs-4">
							    	<label>Jump to Question on Select</label>
										<select class="form-control" ng-model="jumpChapSelect_answer">
											<option value="">None</option>
											<option ng-repeat="(chapIndex, chapter) in flockSON.FlocktrackerProject.TrackerProject[trackerPortion].Survey.Chapters" 
															value="{{ chapIndex }}">
												{{ chapter.Chapter.Title }}
											</option>
										</select>
									</div>

									<div class="col-xs-3">
							    	<label>Jump to Question on Select</label>
										<select class="form-control" ng-model="chapter.Chapter.newQuestion.newAnswer.JumpID">
											<option value="">None</option>
											<option ng-repeat="question in flockSON.FlocktrackerProject.TrackerProject[trackerPortion].Survey.Chapters[jumpChapSelect_answer].Chapter.Questions" 
															value="{{ question.Question.ID }}">
												{{ question.Question.ID }}
											</option>
										</select>
									</div>

									<div class="col-xs-1">
							    	<label>Add</label>
							    	<div class="btn-group btn-group-justified">
							    		<label class="btn btn-success" 
							    						ng-class="chapter.Chapter.newQuestion.newAnswer.Text.length > 0 ? '' : 'disabled'" 
							    						ng-click="addAnswer(chapIndex)">
							    			<i class="fa fa-plus-circle"></i>
							    		</label>
							    	</div>
									</div>

									<div ui-sortable ng-model="chapter.Chapter.newQuestion.Answers" class="col-xs-12">
										<span ng-repeat="(answerIndex, answer) in chapter.Chapter.newQuestion.Answers">
											<div class="badge">
												{{ answerIndex+1 }}. 
												<span>
													{{ answer.Answer.Text }} 
													<span ng-if="answer.Answer.JumpID">
														(with jump to Question {{ answer.Answer.JumpID }})
													</span>
													<i class="fa fa-times-circle-o pull-right" 
															ng-click="chapter.Chapter.newQuestion.Answers.splice(answerIndex, 1);">
													</i>
												</span>
											</div>
										</span>
									</div>
								</div>

								<br>
								<div class="row">
									<div class="col-xs-6">
									  <div class="checkbox" ng-show="questionKinds[chapter.Chapter.newQuestion.Kind].other">
									    <label>
									      <input type="checkbox" ng-model="chapter.Chapter.newQuestion.Other"> Allow an "Other" Input
									    </label>
									  </div>
									</div>
									<div class="col-xs-6 text-right">
										<button class="btn btn-default" ng-click="addQuestion(chapIndex)" 
														ng-class="!questionReady(chapter.Chapter.newQuestion) ? 'disabled' : ''">
											Add Question
										</button>
									</div>
								</div>
			        </div>
		        </div>

					</div>

					<div class="panel panel-default">
	          <div class="panel-heading">
	            <h4 class="panel-title">
	            	Create a new chapter
	            </h4>
	          </div>
	          <div class="panel-body row">
					    <div class="col-xs-10">
					      <input class="form-control" id="newChapter_TrackerProject" placeholder="New chapter title">
					    </div>
					    <div class="col-xs-2 text-right">
					      <button type="submit" class="btn btn-default" ng-click="addChapter()">Add Chapter</button>
					    </div>
						</div>
					</div>
				</div>
			</tab>

			<tab heading="Counters">
				<div ng-controller="counterController">
					<div ui-sortable ng-model="flockSON.FlocktrackerProject.CountersProject.Counters">
						<div ng-repeat="counter in flockSON.FlocktrackerProject.CountersProject.Counters" 
									class="panel panel-default">
		          <div class="panel-body point">
	            	<span>{{ counter.Counter.Name }}</span>
	            	<span class="label label-info">ID: {{ counter.Counter.ID }}</span> 
	            	<i class="fa fa-times-circle-o pull-right" ng-click="removeCounter($index)"></i>
		          </div>
		        </div>
		      </div>

					<div class="panel panel-default">
	          <div class="panel-heading">
	            <h4 class="panel-title">
	            	Create a new counter
	            </h4>
	          </div>
	          <div class="panel-body row">

					    <div class="col-xs-5 form-group" ng-class="vetCounter('name', newCounter.Name) ? 'has-success' : 'has-error'">
					    	<label class="control-label">Counter Name</label>
						  	<span class="label label-success" 
						  				ng-show="vetCounter('name', newCounter.Name)">
						  		<span class="glyphicon glyphicon-ok"></span> Unique name is okay.
						  	</span>
						  	<span class="label label-danger" 
						  				ng-show="!vetCounter('name', newCounter.Name)">
						  		<span class="glyphicon glyphicon-remove"></span> Not a unique name.
						  	</span>
					      <input  type="text" class="form-control" 
					      				ng-model="newCounter.Name"
					      				placeholder="New counter name">
					    </div>

					    <div class="col-xs-5 form-group" ng-class="vetCounter('name', newCounter.ID) ? 'has-success' : 'has-error'">
					    	<label class="control-label">Counter ID</label>
						  	<span class="label label-success" 
						  				ng-show="vetCounter('id', newCounter.ID)">
						  		<span class="glyphicon glyphicon-ok"></span> Unique ID is okay.
						  	</span>
						  	<span class="label label-danger" 
						  				ng-show="!vetCounter('id', newCounter.ID)">
						  		<span class="glyphicon glyphicon-remove"></span> Not a unique ID.
						  	</span>
					      <input  type="text" class="form-control" 
					      				ng-model="newCounter.ID"
					      				ng-keyup="newCounter.ID = cleanText(newCounter.ID)"
					      				placeholder="New counter id">
					    </div>
					    <div class="col-xs-2 text-right">
					    	<label class="control-label">Submit</label>
					      <button type="submit" class="btn btn-default" 
					      				ng-class="newCounter.Name.length > 0 && newCounter.ID.length > 0 &&
					      									vetCounter('name', newCounter.Name) && vetCounter('id', newCounter.ID) ? '' : 'disabled'"
					      				ng-click="addCounter(newCounter); newCounter={id:'',name:''}">
					      	Add Counter
					      </button>
					    </div>
						</div>
					</div>
				</div>
			</tab>
			<div class="btn btn-warning pull-right" ng-click="submit()">Submit</div>
		</tabset>
	</div>


  <footer>
    <div class="container text-center">
      <small class="text-muted">Copyright 2015 Urban Launchpad MX, Singapore-MIT Alliance for Research and Technology</small>
    </div>
  </footer>

</body>

</html>